/**
 * ELEMENTS
 */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
html:focus-within {
	scroll-behavior: smooth;
}

body {
	accent-color: var(--wp--preset--color--secondary);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizespeed;
}

button,
input,
select,
textarea {
	font: inherit;
}

img,
picture {
	block-size: auto;
	max-inline-size: 100%;
}

button,
input[type="button"],
input[type="submit"] {
	appearance: none;
	cursor: pointer;
	margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="submit"],
textarea:focus {
	/* stylelint-disable-next-line plugin/no-low-performance-animation-properties -- Using 'all' for convenience in this simple transition */
	transition: all 250ms ease-in-out;
}

/* Remove all animations and transitions for those who prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html,
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		scroll-behavior: auto !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
	}
}
